@model EditSubUserViewModel;

@{
    ViewBag.Title = "Edit Sub User";
}
<div class="shadow-lg p-3 mb-5 bg-white rounded ">
    <form class="card-body" asp-action="EditSubUser" asp-controller="Admin" method="post">
        <h3 class="text-center">@ViewBag.Title</h3>
        <hr />
        <input type="hidden" asp-for="UserId">
        <div class="form-group row mb-2">
            <label asp-for="Email" class="col-sm-3 col-form-label fw-bolder">Email</label>
            <div class="col-sm-9">
                <input asp-for="Email" class="form-control" data-val="false" placeholder="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row mb-2">
            <label asp-for="Password" class="col-sm-3 col-form-label fw-bolder">Password</label>
            <div class="col-sm-9">
                <input asp-for="Password" class="form-control" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <hr />

        <div class="form-group row">
            <div class="col" id="showPermisson">
                <label class="col-form-label fw-bolder">Sub Menu Permission</label>
                <label class="switch" id="pageStatus">
                    <input type="checkbox" id="showPermissonStatus" onchange="getMenu()">
                    <span class="slider round"></span>
                </label>
            </div>
            <br />
            <br />
            <div class="form-group row ml-lg-2" style="display:none;" id="menu">

                @{
                    @for (int i = 1; i <= Model.isActive.Count; i++)
                    {
                        <div class="col" style=" margin-left: 135px;">
                            <label class="switch ml-5">
                                @*<input asp-for="RoleId" />*@
                                @Html.CheckBoxFor(m => m.isActive[i])

                                <span class="slider round"></span>
                            </label>
                            <label class="col-form-label">@Model.AddRole[i]</label>

                        </div>
                    }
                }
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>
@section Scripts{
    <script>
        function getMenu() {
            var checkedValue = document.getElementById('showPermissonStatus').value;
            var menuStatus = document.getElementById("menu").style.display;
            if (checkedValue) {
                if (menuStatus == 'block') {
                    document.getElementById("menu").style.display = "none";
                }
                else {
                    document.getElementById("menu").style.display = "block";
                }
            }
        }
    </script>
}
