@model AddPageViewModel

@{ 
    ViewBag.Title = "Add Pages";
}
    @*
        <div class="sidebar">
            <a asp-controller="home" asp-action="addpage" class="list-group-item">
                Add Pages
            </a>
            <a href="#" class="list-group-item">
                Manage Page
            </a>
        </div>*@

    
