@model AddPage
@{
    ViewBag.Title = "Manage page";
}
<div class="shadow-lg p-3 mb-5 bg-white rounded col-9 card">
    <form class="card-body" method="post" asp-controller="Admin" asp-action="managepage">
        <input type="hidden" asp-for="PageId"/>
        <label class="col-form-label">Pages</label>
        <select class="form-control" onchange="getdata()" asp-for="PageName" 
                asp-items='@(new SelectList( ViewBag.PageList ,"PageId","PageName"))'>
            <option >--select--</option>
        </select>

        <div class="form-group row">
            <label class="col-form-label" asp-for="Description"></label>
            <div class="col" id="dec">
                <textarea id="froala-editor" asp-for="Description">
                       </textarea>
            </div>
        </div>

        <div class="custom-control custom-switch">
            <label class="col-form-label" asp-for="Status"></label>
            <label class="custom-control-label">Hide</label>
            <label class="switch" id="pageStatus">
                <input type="checkbox" asp-for="Status">
                <span class="slider round"></span>
            </label>
            <label class="">Show</label>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script>
        new FroalaEditor('textarea#froala-editor')
        function getdata() {
            window.location.replace("/admin/managepage/" + $('#pageid').val())
        }
    </script>

   @* <script>
        $("#pageid").change(function () {
            GetData($("#pageid").val());
        });
        function GetData(id) {
            $.ajax({
                url: '/Home/Getdata/' + id,
                type: 'Post',
                data: {
                },
                success: function (data) {
                    $('#dec').find('div').remove()
                    $('#dec').append(' <div class="col" id="dec" asp-for="Description"><textarea id="froala-editor" asp-for="Description">' +
                        data.description + '</textarea></div>')
                    new FroalaEditor('textarea#froala-editor')

                    $('#pageStatus').find('input').remove()
                    $('#pageStatus').find('span').remove()
                  /*  $('#pageStatus').append('<input asp-for="pageid" hidden>')*/
                    if (data.status == true) {
                        $('#pageStatus').append(' <input type = "checkbox" asp-for="Status" checked><span class="slider round"></span>')
                    } else {
                        $('#pageStatus').append(' <input type = "checkbox" asp-for="Status"><span class="slider round"></span>')
                    }
                },
                error: function () {
                }
            });
        }

        new FroalaEditor('textarea#froala-editor')
    </script>*@
}
