@model RegisterViewModel;


@{
    ViewBag.Title = "Register Form";
}

<div class="shadow-lg p-3 mb-5 bg-white rounded ">
    <form class="card-body" asp-action="Register" asp-controller="Admin" method="post">
        <h3 class="text-center">@ViewBag.Title</h3>
        <hr />
        <div class="form-group row mb-2">
            <label asp-for="Email" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
                <input asp-for="Email" class="form-control" placeholder="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row mb-2">
            <label asp-for="Name" class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
                <input asp-for="Name" class="form-control" placeholder="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row mb-2">
            <label asp-for="Password" class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
                <input asp-for="Password" class="form-control" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row mb-2">
            <label asp-for="ConfirmPassword" class="col-sm-3 col-form-label">Confirm Password</label>
            <div class="col-sm-9">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <button type="submit" class="btn btn-primary">Register</button>
                <p class="mt-2">Already have an account <a asp-action="LogIn" asp-controller="Admin">login</a></p>
            </div>
        </div>


    </form>
</div>
