@*@model IEnumerable<AddRoles>*@
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/css/site.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/css/froala_editor.pkgd.min.css" integrity="sha512-2pV+HRFqOhnsJg1HTGaZxIz27M0YLsRm1LrN5MN3kWbSbKWhRNRVFXfkKOeWJs5JDqe0gkV6kcdFJq/YDSkCGg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/css/froala_editor.min.css" integrity="sha512-nAJK2yafVBW/IqrSgLaNgFeISsusduUoQ8WTNDvHwdnThbiGoP3Myc4fq0Z0bGS8ZowxzGLafmPtHwTp2T5qRQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <!--Nav Bar Or Header-->
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow fixed-top" style="background-color: #576868">
        <div class="container">
            <a class="navbar-brand text-white-50" asp-controller="admin" asp-action="index">Welcome To CMS_Demo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav ml-auto">
                    
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-action="Register"
                               asp-controller="Admin">Regiter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-action="Login"
                               asp-controller="Admin">LogIn</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-action="Logout" asp-controller="Admin">@Context.Session.GetString("UserName") Logout </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    @if (User.Identity.IsAuthenticated)
    {
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow" style="background-color: #576868">*@
        <div class="sidebar">
            @{
                var permission = Context.Session.GetInt32("Permission");
                if (permission != null)
                {

                    for (var i = 1; i <= 5; i++)
                    {
                        var name = Context.Session.GetInt32($"Permission{i}");
                        if (name == 1)
                        {
                                <a asp-controller="Admin" asp-action="addpage" class="list-group-item">
                                    Menu
                                </a>
                        }
                        else if (name == 2)
                        {
                                <a asp-controller="Admin" asp-action="addsubpage" class="list-group-item">
                                    Add SubMenu
                                </a>
                        }
                        else if (name == 3)
                        {
                                <a asp-controller="Admin" asp-action="managepage" asp-route-id="" class="list-group-item">
                                    Manage Menu
                                </a>
                        }
                        else if (name == 4)
                        {
                                <a asp-controller="Admin" asp-action="addsubuser" class="list-group-item">
                                    Add SubUser
                                </a>
                        }
                        else if (name == 5)
                        {
                                <a asp-controller="Admin" asp-action="managesubuser" asp-route-id="" class="list-group-item">
                                    Manage SubUser
                                </a>
                            }
                        }
                    }
                }
        </div>

    }
    <div class="content mt-5">
        <!--Body-->
        @RenderBody()
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.10/js/froala_editor.min.js" integrity="sha512-M21u/bhNAlYd5NOd271FkyJrmFxRGOA492Y0g0T8d+5u7iGrAo6uTrBzxD3vV1HKMyTyYYehio3O+7LDvYHDYA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>