@{
    ViewBag.Title = @ViewBag.PageName;
}


<div class="card">
    <p>@Html.Raw(ViewBag.Description)</p>
</div>

<footer>
    @{
        if (ViewBag.Footer != null)
        {
            <p>@Html.Raw(ViewBag.Footer)</p>
        }
    }
</footer>

@section Scripts{
    <script>
        new FroalaEditor('p#froala-editor')
    </script>
}