@model IndexViewModel
@{
    ViewBag.Title = "Home";
}


    <div class="card mx-3 my-3">
        <div class="card-body" id="data">
            <p>@Html.Raw(ViewBag.data)</p>
           
        </div>
    </div>

@section Scripts{
    <script>
        new FroalaEditor('p#froala-editor')
    </script>
  
}