@{
    ViewBag.Title = @ViewBag.PageName;
}


<div class="card">
    <p>@Html.Raw(ViewBag.Description)</p>

</div>

@section Scripts{
    <script>
        new FroalaEditor('p#froala-editor')
    </script>
}